:root {
  --white: white;
  --navy: #003660;
  --gold: #febc11;
  --047c91: #047c91;
  --mist: #9cbebe;
  --seagreen: #09847a;
  --black: #111517;
  --lmist: #dae6e6;
  --lgray: #dce1e5;
  --moss: #6d7d33;
  --coral: #ef5645;
  --dcoral: #c43424;
  --llgray: #eef0f2;
  --clay: #dcd6cc;
  --lclay: #c9bf9d;
  --lsandstone: #edeadf;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 10vh;
  font-weight: 700;
  line-height: 10vh;
}

h2 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
}

h3 {
  color: #6b6b6b;
  margin-top: 10px;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

h4 {
  color: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

p {
  color: #6b6b6b;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 30px;
}

a {
  color: #000;
  text-decoration: underline;
}

.section {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 3vh;
  display: flex;
}

.section.center {
  background-color: #fff;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 5vh;
  display: flex;
  position: relative;
}

.section.wide {
  background-color: var(--navy);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  display: flex;
}

.hero {
  z-index: 999999;
  background-color: #003660;
  border: 1px #000;
  border-bottom: 8px solid #047c91;
  width: 100%;
  height: auto;
  padding: 0 10vw;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  background-color: #0000;
  justify-content: space-between;
  align-items: center;
  height: auto;
  display: flex;
}

.nav-inner {
  border-bottom: 1px #ffffff1a;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.body {
  background-color: #0000;
  font-family: Gothic A1, sans-serif;
}

.whatwedo {
  color: #111517;
  margin-top: 10vh;
  margin-bottom: 0;
  padding-top: 0;
  font-family: Gothic A1, sans-serif;
  font-size: 10vh;
  font-weight: 400;
  line-height: 9vh;
}

.feature-content {
  border: 1px #000;
  flex: none;
  width: 50vw;
  max-width: 450px;
  padding-left: 2vw;
  padding-right: 2vw;
}

.feature-content.icons {
  text-align: center;
  flex-direction: column;
  flex: none;
  align-items: center;
  width: 33.33%;
  max-width: none;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #6d7d33;
  border-radius: 3px;
  width: 50%;
  margin-right: 0;
  padding: 20px 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  transition: background-color .5s cubic-bezier(.789, .159, .25, 1), color .2s cubic-bezier(.789, .159, .25, 1);
  display: inline-block;
}

.button:hover {
  color: #111517;
  background-color: #eef0f2;
}

.button.contact {
  color: #fff;
  background-color: #ef5645;
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px #fff3;
}

.button.contact:hover {
  color: #fff;
  background-color: #111517;
  border: 0 #111517;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #fff;
}

.button.contact-services {
  color: #fff;
  background-color: #ef5645;
  margin-left: 10px;
  box-shadow: inset 0 0 0 2px #fff3;
}

.button.contact-services:hover {
  color: #fff;
  background-color: #111517;
  border: 0 #111517;
  border-radius: 0;
  box-shadow: inset 0 0 0 2px #fff;
}

.wrap {
  text-align: center;
  flex: 0 auto;
  max-width: 70%;
  margin-bottom: 5vh;
  padding-top: 0;
  padding-bottom: 0;
}

.whatwedoimg {
  flex: none;
  max-width: 100%;
}

.button-wrap {
  justify-content: center;
  width: auto;
  margin-top: 1vh;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.nav-menu-wrap {
  font-weight: 500;
}

.nav-link {
  color: #febc11;
  mix-blend-mode: normal;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: inline-flex;
}

.nav-link:hover {
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-shadow: inset 0 -5px #febc11;
}

.nav-link.w--current {
  color: gold;
}

.nav-link.w--current:hover {
  color: #fff;
  box-shadow: inset 0 -5px #febc11;
}

.whatwedosub {
  color: #111517;
}

.home-hero-content {
  z-index: 90;
  background-color: var(--white);
  flex-flow: row;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20vh;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  position: relative;
}

.feature-wrap {
  border: 1px #000;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
}

.feature-wrap.reverse {
  flex-direction: row-reverse;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.feature-wrap.icons {
  justify-content: space-between;
  margin-top: 7vh;
  margin-bottom: 7vh;
  padding-left: 0;
  padding-right: 0;
}

.feature-image {
  border: 1px #000;
  justify-content: center;
  align-items: center;
  width: 40vw;
  display: flex;
}

.feature-icon {
  height: 80px;
  margin-bottom: 20px;
}

.footer {
  background-color: #111517;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-link {
  color: #6b6b6b;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #fff;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.nav-logo-wrap {
  flex: none;
}

.main-nav {
  font-weight: 500;
}

.page-title {
  color: #003660;
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Gothic A1, sans-serif;
  font-size: 8vh;
  font-weight: 800;
}

.block-quote {
  background-color: var(--white);
  color: #111517;
  text-align: center;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  border-left-color: #111517;
  border-right: 5px solid #000;
  width: auto;
  margin-bottom: 0;
  padding: .5vh 1vw;
  font-family: Gothic A1, sans-serif;
  font-size: 120%;
  line-height: 24px;
  display: block;
}

.home-mainpara {
  color: #111517;
  width: 95%;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-family: Gothic A1, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 38px;
}

.flex-block {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  overflow: visible;
}

.link-block-img {
  opacity: 1;
  outline-offset: 0px;
  background-color: #111517;
  border-radius: 20px;
  outline: 3px #000;
  margin-left: 0;
  margin-right: 0;
  padding: 5px 3px 5px 10px;
  line-height: 20px;
}

.link-block-img:hover {
  background-color: #003660;
}

.join-main-flex {
  flex-flow: column;
  width: auto;
  margin-right: 0;
  padding-top: 0;
}

.bruinai-btn-link {
  margin-left: 0;
  margin-right: 0;
}

.code-embed-home {
  order: 1;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.home-bridge-heading {
  color: var(--gold);
  margin-top: 5vh;
  margin-bottom: 0;
}

.ready-to-get-started, .featurepara {
  color: #fff;
}

.join-para {
  color: #047c91;
  width: 80%;
  height: 10%;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  font-family: Gothic A1, sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: block;
}

.hero-join {
  z-index: 90;
  flex-flow: row;
  flex: 0 auto;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8vh;
  padding-left: 7vw;
  padding-right: 7vw;
  display: flex;
  position: relative;
}

.services-code-embed {
  order: 1;
  justify-content: center;
  align-items: center;
  width: 130%;
  height: 95%;
  margin-top: 0;
  display: block;
}

.home-mainbtnblock {
  margin-bottom: 1vh;
}

.featureheading {
  color: #edeadf;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.footer-logo {
  margin-top: 4vh;
}

.acm-btn-link {
  margin-left: 3vh;
}

.home-sub-heading {
  color: #047c91;
  margin-top: 1vh;
  margin-bottom: 2vh;
  font-family: Gothic A1, sans-serif;
  font-size: 6vh;
  font-weight: 600;
}

.home-main-flex {
  flex-flow: column;
  width: 85%;
}

.navybtn {
  text-align: left;
  background-color: #003660;
  border-radius: 10px;
  margin-top: 3vh;
  padding: 2vh;
  font-family: Gothic A1, sans-serif;
  font-size: 20px;
  font-weight: 800;
  transition: all .2s;
}

.howitworks {
  max-width: 50vw;
}

.home-bridge-subheading {
  color: var(--gold);
  text-align: left;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.howitworks-container {
  grid-column-gap: 3vw;
  grid-row-gap: 3vw;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5vh 2vw;
}

.howitworksdesc {
  color: var(--white);
}

.quick-stack {
  background-color: var(--navy);
  padding-top: 0;
  padding-bottom: 0;
}

.cell {
  background-color: var(--047c91);
  border: 2px solid #000;
  border-radius: 5px;
}

.cell.services-cell {
  border-color: var(--mist);
  padding: 2vh 2vw;
  transition: all .2s;
}

.cell.services-cell:hover {
  border-color: var(--white);
  background-color: var(--seagreen);
}

.services {
  background-color: var(--navy);
  padding-top: 5vh;
  padding-bottom: 7vh;
}

.specialservices-heading {
  text-align: center;
  font-family: Gothic A1, sans-serif;
  font-weight: 800;
}

.services-list {
  color: var(--white);
  padding-left: 2vw;
  font-family: Gothic A1, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 5vh;
}

.services-cardheading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gothic A1, sans-serif;
}

.icon-wrapper {
  border: 2px solid var(--mist);
  background-color: #3b96a7;
  border-radius: 10px;
  padding: 5px;
}

.magicwandcodeembed {
  border: 1px #000;
}

.specialized-services-div {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.brain-img {
  opacity: .7;
  filter: drop-shadow(0 2px 5px #000000b3);
  max-width: 40%;
  margin-left: auto;
}

.computer-img {
  opacity: .7;
  filter: drop-shadow(0 2px 5px #000000b3) grayscale();
  max-width: 80%;
  margin-top: auto;
  margin-left: auto;
}

.ai-friend-img {
  opacity: .7;
  filter: drop-shadow(0 2px 5px #000000b3) grayscale();
  max-width: 35%;
  margin-left: auto;
}

.container {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
  margin-bottom: 0%;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.step-content-block {
  text-align: left;
  align-self: center;
  position: relative;
}

.img-block {
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 40%;
  display: flex;
}

.dot {
  z-index: 3;
  background-color: #eeeff4;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-bottom: -6px;
  position: relative;
}

.step {
  z-index: 2;
  background-color: #fff;
  border-radius: 16px;
  align-items: center;
  padding: 12%;
  display: flex;
  position: relative;
}

.scoll-wrap {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: absolute;
  bottom: 50%;
}

.content-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
}

.bg-shadow {
  z-index: 1;
  border-radius: 16px;
  position: absolute;
  inset: 0%;
  box-shadow: 7px 7px 20px #12121212;
}

.content-wrap {
  justify-content: flex-end;
  width: 40%;
  display: flex;
}

.label {
  color: var(--gold);
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.steps-clone {
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  display: flex;
  position: relative;
}

.step-block {
  flex-wrap: nowrap;
  place-content: center space-around;
  align-items: center;
  min-height: 80vh;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.scroll-base {
  transform-origin: 50% 0;
  background-color: #eeeff4;
  width: 6px;
  height: 100%;
}

.content {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

.scroll-animate {
  background-color: var(--navy);
  transform-origin: 50% 0;
  width: 6px;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.card-headings-howitworks {
  color: var(--navy);
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gothic A1, sans-serif;
  display: flex;
}

.btnflex {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.hidden-navlinks {
  color: #febc11;
  mix-blend-mode: normal;
  flex: 0 auto;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: none;
}

.hidden-navlinks:hover {
  color: #fff;
  -webkit-text-decoration: none;
  text-decoration: none;
  box-shadow: inset 0 -5px #febc11;
}

.hidden-navlinks.w--current {
  color: gold;
}

.hidden-navlinks.w--current:hover {
  color: #fff;
  box-shadow: inset 0 -5px #febc11;
}

.timeline-description {
  color: var(--black);
}

.image-home-bridge {
  width: 15%;
}

.howitworks-image {
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-content: center;
  align-items: center;
}

.timeline {
  background-color: var(--lmist);
}

.howitworks-heading {
  color: var(--navy);
  text-align: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  font-family: Gothic A1, sans-serif;
}

.services-howitworks-para {
  color: var(--black);
  text-align: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-family: Gothic A1, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.bold-text {
  font-size: 16px;
}

.join-body {
  background-color: var(--white);
}

.join-btn {
  text-align: center;
  background-color: #003660;
  border-radius: 10px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 7vh;
  margin-top: 0;
  padding: 2vh;
  font-family: Gothic A1, sans-serif;
  font-size: 24px;
  font-weight: 800;
  transition: all .2s;
  display: flex;
}

.recruitment-heading {
  color: #047c91;
  height: 10vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-family: Gothic A1, sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: none;
}

.faq-join-img {
  aspect-ratio: 16 / 9;
  mix-blend-mode: overlay;
  border-radius: 30vh;
  height: 35vh;
  box-shadow: 8px 7px 10px .7vh #0003;
}

.dropdownicon.accordion-icon {
  background-color: var(--mist);
  color: #0009;
  cursor: pointer;
  border-radius: 7px;
  font-family: Material Icons, sans-serif;
  font-size: 32px;
  line-height: 30px;
}

.accordion-wrapper {
  margin-top: 50px;
}

.accordion-item-trigger {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.accordion-heading {
  color: var(--navy);
  cursor: pointer;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.header-center-box {
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.content-wrapper {
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 80vw;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
}

.accordion-item-content {
  margin-top: 10px;
  margin-right: 30px;
  overflow: hidden;
}

.accordion-item {
  background-color: var(--lgray);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 24px 30px 14px;
  display: block;
  box-shadow: 0 3px 7px #00000008;
}

.faq-heading {
  color: var(--navy);
  font-family: Gothic A1, sans-serif;
}

.faq-para {
  color: var(--navy);
}

.flex-consulting-services {
  width: 100%;
}

.section-service {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.section-service.center {
  background-color: #fff;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.section-join {
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.section-join.center {
  background-color: #fff;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  padding-top: 0;
  padding-bottom: 5vh;
  display: flex;
  position: relative;
}

.events-section {
  background-color: var(--white);
  height: 100vh;
}

.events-heading {
  color: var(--navy);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gothic A1, sans-serif;
}

.events-hero {
  z-index: 90;
  background-color: var(--white);
  flex-flow: column;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85%;
  margin-top: 7vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14vh;
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  position: relative;
}

.events-subheading {
  color: var(--navy);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Gothic A1, sans-serif;
  font-weight: 500;
  display: flex;
}

.desktopcalembed {
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
  overflow: clip;
}

.tabletcalembed, .mobile-l-calembed, .mobilecalembed {
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  display: none;
  overflow: clip;
}

.section-bridge {
  background-color: var(--navy);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
}

.section-get-started, .section-get-started-services {
  background-color: var(--047c91);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 2vh;
  padding-bottom: 5vh;
  display: flex;
}

.flex-block-2 {
  width: 100%;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 34px;
    line-height: 44px;
  }

  h3 {
    font-size: 20px;
    line-height: 32px;
  }

  .section.center {
    background-image: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 15vh;
  }

  .hero {
    padding-left: 0;
    padding-right: 0;
  }

  .nav, .nav-inner {
    width: 100vw;
  }

  .button.contact-services {
    width: 80%;
  }

  .nav-link {
    padding-top: 20px;
  }

  .nav-link:hover {
    box-shadow: none;
  }

  .home-hero-content {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .feature-wrap {
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-left: 0;
    padding-right: 0;
  }

  .feature-icon {
    flex: none;
  }

  .menu-icon {
    color: #fff;
    font-size: 40px;
  }

  .menu-button.w--open {
    background-color: #000;
  }

  .main-nav {
    background-color: #000;
    min-width: 240px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .brand {
    padding-left: 18px;
  }

  .page-title {
    text-align: center;
    font-size: 8vw;
  }

  .flex-block {
    grid-column-gap: 4vh;
    grid-row-gap: 4vh;
    flex-flow: wrap;
  }

  .join-main-flex {
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .code-embed-home {
    display: none;
  }

  .join-para {
    text-align: center;
    line-height: 34px;
  }

  .hero-join {
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 0 5vw 10vh;
  }

  .services-code-embed {
    display: none;
  }

  .home-sub-heading {
    font-size: 8vw;
  }

  .home-main-flex {
    justify-content: center;
    align-items: center;
  }

  .hidden-navlinks {
    padding-top: 20px;
  }

  .hidden-navlinks:hover {
    box-shadow: none;
  }

  .accordion-wrapper {
    margin-top: 5vh;
  }

  .faq-heading {
    margin-top: 4vh;
    margin-bottom: 0;
  }

  .join-main-main-flex {
    flex-flow: wrap;
  }

  .list-item {
    white-space: normal;
    font-size: 16px;
  }

  .list-item-special {
    white-space: nowrap;
    font-size: 16px;
  }

  .section-service.center {
    background-image: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 15vh;
    padding-top: 0;
  }

  .section-join.center {
    background-image: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 15vh;
  }

  .events-hero {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
    padding-top: 0;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .desktopcalembed {
    display: none;
  }

  .tabletcalembed {
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .section.center {
    background-image: none;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
  }

  .hero {
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .feature-content.icons {
    text-align: left;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  .button.contact {
    width: 100%;
    margin-left: 0;
  }

  .button.student {
    width: 100%;
  }

  .button.contact-services {
    width: 100%;
    margin-left: 0;
  }

  .wrap {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: none;
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
  }

  .button-wrap {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    align-items: stretch;
  }

  .home-hero-content {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    padding-top: 0;
  }

  .feature-wrap {
    flex-direction: row;
  }

  .feature-wrap.icons {
    flex-flow: wrap;
    display: block;
  }

  .footer-link {
    margin-bottom: 10px;
    display: inline-block;
  }

  .menu-icon {
    font-size: 30px;
  }

  .home-mainpara {
    text-align: center;
  }

  .flex-block {
    flex-flow: column;
    padding-right: 0;
  }

  .join-main-flex {
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .code-embed-home {
    display: none;
  }

  .join-para {
    width: 90%;
  }

  .hero-join {
    margin-top: 0;
    margin-bottom: 5vh;
    padding-top: 0;
  }

  .home-main-flex {
    justify-content: center;
    align-items: center;
  }

  .howitworks {
    max-width: none;
  }

  .home-bridge-subheading {
    text-align: left;
    text-decoration: none;
  }

  .howitworks-container {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .services-cardheading {
    font-size: 28px;
  }

  .brain-img {
    display: inline-flex;
  }

  .computer-img {
    max-width: 60%;
  }

  .step-content-block {
    z-index: 2;
    order: -1;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .img-block {
    z-index: 3;
    order: 3;
    width: 70%;
    min-height: 50vh;
    padding-top: 20px;
    position: relative;
  }

  .dot {
    z-index: 99;
    order: 2;
    align-self: center;
    margin-bottom: 0;
    position: absolute;
    bottom: 50%;
  }

  .step {
    justify-content: center;
    padding: 8%;
  }

  .scoll-wrap {
    z-index: 1;
    height: 100%;
    bottom: 50%;
  }

  .content-wrap {
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 50vh;
    padding-bottom: 20px;
  }

  .step-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
  }

  .image-home-bridge {
    width: 25%;
  }

  .howitworks-image {
    grid-column-gap: 2vw;
    grid-row-gap: 2vw;
  }

  .accordion-item-content {
    margin-right: 0;
  }

  .list-item, .list-item-special {
    font-size: 20px;
  }

  .flex-consulting-services {
    flex-flow: wrap;
  }

  .section-service.center {
    background-image: none;
    justify-content: center;
    align-items: center;
  }

  .section-join.center {
    background-image: none;
    justify-content: center;
    align-items: center;
    padding-top: 15vh;
  }

  .events-hero {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    padding-top: 0;
  }

  .tabletcalembed {
    display: none;
  }

  .mobile-l-calembed {
    width: auto;
    display: block;
  }

  .mobilecalembed {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 16px;
  }

  .section {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .section.center {
    background-color: var(--white);
    background-image: none;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    padding-top: 6vh;
    padding-bottom: 3vh;
  }

  .hero {
    padding: 1vh 0;
  }

  .nav-inner {
    width: 100vw;
  }

  .body {
    background-color: var(--white);
  }

  .whatwedo {
    text-align: center;
    padding-top: 3vh;
    font-size: 5vh;
  }

  .feature-content {
    width: auto;
  }

  .feature-content.icons {
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }

  .button.contact {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }

  .button.student {
    width: 100%;
  }

  .button.contact-services {
    width: 90%;
    margin-top: 10px;
    margin-left: 0;
  }

  .wrap {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .whatwedoimg {
    width: 80%;
    max-width: none;
  }

  .button-wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }

  .whatwedosub {
    text-align: center;
  }

  .home-hero-content {
    background-color: var(--white);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
  }

  .feature-wrap {
    flex-direction: column;
    margin-top: 4vh;
    margin-bottom: 4vh;
  }

  .feature-wrap.reverse {
    flex-direction: column;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .feature-wrap.icons {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .feature-image {
    width: auto;
    margin-top: 2vh;
    margin-bottom: 0;
  }

  .feature-icon {
    max-width: none;
    height: 15vh;
    margin-bottom: 1vh;
  }

  .page-title {
    margin-top: 5vh;
    font-size: 40px;
    line-height: 56px;
  }

  .block-quote {
    width: 100%;
  }

  .home-mainpara {
    text-align: center;
    width: 90%;
  }

  .flex-block {
    flex-flow: wrap;
    padding-right: 0;
  }

  .link-block-img {
    border-radius: 10px;
  }

  .join-main-flex {
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .featurepara {
    text-align: center;
    margin-bottom: 1vh;
  }

  .join-para {
    width: 100%;
    height: auto;
    font-size: 20px;
  }

  .hero-join {
    flex-flow: wrap;
    margin-top: 2vh;
    padding-top: 10vh;
    padding-left: 4vw;
    padding-right: 4vw;
  }

  .services-code-embed {
    display: none;
  }

  .home-sub-heading {
    margin-top: 0;
    font-size: 42px;
    line-height: 56px;
  }

  .home-main-flex {
    justify-content: center;
    align-items: center;
  }

  .howitworks {
    max-width: none;
  }

  .home-bridge-subheading, .howitworksdesc {
    text-align: center;
  }

  .cell.services-cell {
    justify-content: center;
    align-items: flex-start;
    padding-left: 5vw;
  }

  .services-list {
    padding-left: 4vw;
  }

  .img-block {
    width: 90%;
  }

  .steps-clone {
    display: block;
    position: static;
  }

  .content {
    font-size: 20px;
  }

  .btnflex {
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
  }

  .image-home-bridge {
    width: 50%;
  }

  .howitworks-image {
    flex-flow: column;
  }

  .services-howitworks-para {
    max-width: 80%;
  }

  .faq-join-img {
    width: 100vw;
    height: 20vh;
  }

  .dropdownicon.accordion-icon {
    margin-left: 3px;
  }

  .whatwedopara {
    text-align: center;
    margin-bottom: 0;
  }

  .list-item, .list-item-special {
    font-size: 16px;
  }

  .section-service {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .section-service.center {
    background-color: var(--white);
    background-image: none;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    margin-top: 0;
    padding-bottom: 3vh;
  }

  .section-join {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .section-join.center {
    background-color: var(--white);
    background-image: none;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    padding-top: 0;
    padding-bottom: 3vh;
  }

  .events-hero {
    background-color: var(--white);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    padding-top: 10vh;
  }

  .mobile-l-calembed {
    display: none;
  }

  .mobilecalembed {
    display: block;
  }

  .section-bridge, .section-get-started, .section-get-started-services {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

#w-node-_40370aaf-9c03-0d47-4749-3e738aeb0b8c-dfcdae4a {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-e0e2c337-68e6-0038-7655-bffc1e90467a-dfcdae4a {
  grid-row: span 2 / span 2;
}

@media screen and (max-width: 767px) {
  #w-node-_40370aaf-9c03-0d47-4749-3e738aeb0b8c-dfcdae4a {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-e0e2c337-68e6-0038-7655-bffc1e90467a-dfcdae4a {
    grid-row: span 2 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_40370aaf-9c03-0d47-4749-3e738aeb0b8c-dfcdae4a {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  #w-node-e0e2c337-68e6-0038-7655-bffc1e90467a-dfcdae4a {
    grid-row: span 2 / span 2;
  }
}


